﻿@model IEnumerable<PorjetBalouMagou.Enregistrement>

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.nomAlbum.Titre_Album</h2>


<img src="@Url.Action("Pochette", "Album", new { id = @ViewBag.nomAlbum.Code_Album })" width="300" height="300" />

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Durée)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durée)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            <audio controls preload="none">
                <source src="@Url.Action("Extrait", "Album", new { id = item.Code_Morceau } )" />
                Votre navigateur n'est pas compatible
            </audio>
        </td>
    </tr>
}
</table>
