﻿@model IEnumerable<PorjetBalouMagou.Album>

@{
    ViewBag.Title = "DetailsCompositeurs";
}
<a href="javascript:history.back()">Retour</a>
@Html.ActionLink("Retour à la liste compositeurs", "ListeCompositeur", "Musicien")
@Html.ActionLink("Retour à la liste principale", "Index", "Musicien")
<h2>DetailsCompositeurs</h2>

<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("Pochette", "Album" , new { id= item.Code_Album} )" width="100" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code_Album)
            </td>
            <td>
                @Html.ActionLink(item.Titre_Album, "Details", new { id = item.Code_Album })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Année_Album)
            </td>
        </tr>
    }
</table>
