﻿@model PorjetBalouMagou.Musicien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Musicien</legend>
    <table border="1" width="360">
        <tr class="display-label">
            <th>
                @Html.DisplayNameFor(model => model.Code_Musicien)
            </th>
            <th>
                @Html.DisplayFor(model => model.Code_Musicien)
            </th>
        </tr>

        <tr class="display-label">
            <th>
                Nom
            </th>
            <th>
                @Html.DisplayFor(model => model.Nom_Musicien)
            </th>
        </tr>

        <tr class="display-label">
            <th>
                Prénom
            </th>
            <th>
                @Html.DisplayFor(model => model.Prénom_Musicien)
            </th>
        </tr>

        <tr class="display-label">
            <th>
                Année de naissance
            </th>
            <th>
                @Html.DisplayFor(model => model.Année_Naissance)
            </th>
        </tr>

        <tr class="display-label">
            <th>
                Année de mort
            </th>
            <th>
                @Html.DisplayFor(model => model.Année_Mort)
            </th>
        </tr>

        <tr class="display-label">
            <th>
                Pays d'origine
            </th>
            <th>
                @Html.DisplayFor(model => model.Pays.Nom_Pays)
            </th>
        </tr>

        <tr class="display-label">
            <th>
                Genre musical
            </th>
            <th>
                @Html.DisplayFor(model => model.Genre.Libellé_Abrégé)
            </th>
        </tr>
        <tr class="display-label">
            <th>
                Fonction
            </th>
            <th>
                @Html.DisplayFor(model => model.Instrument.Nom_Instrument)
            </th>
        </tr>
    </table>
</fieldset>
<p>
        @Html.ActionLink("Back to List", "Index")
        @Html.ActionLink("Oeuvre", "Index", "Oeuvre")
</p>
