﻿<!--Index Musiciens-->
@model IEnumerable<PorjetBalouMagou.Musicien>

@{
    ViewBag.Title = "IndexMusicien";
}

<h2>Index</h2>
<ul>
    @for (char c = 'A'; c <= 'Z'; c++)
    {
        @Html.ActionLink(c.ToString(), "ListeDirection", "Musicien", new { initiale = c }, null)
    }
</ul>
@Html.ActionLink("Liste des compositeurs", "ListeCompositeur", "Musicien")
@Html.ActionLink("Liste des chefs d'orchestre", "ListeDirection", "Musicien")
@Html.ActionLink("Liste des interprètes", "ListeInterprete", "Musicien")

<table>
    <tr>
        <th>
            Nom
        </th>
        <th>
            Prénom
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_Musicien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prénom_Musicien)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Code_Musicien })
                @Html.ActionLink("Oeuvre", "Index", "Oeuvre", new { id = item.Code_Musicien }, null)
                @Html.ActionLink("Album", "DetailsDirection", "Album", new { id = item.Code_Musicien }, null)


            </td>
        </tr>
    }

</table>
