﻿<!--Indew Menu Principal-->
@{
    ViewBag.Title = "Page principale de Magou Balou";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
