﻿@model PorjetBalouMagou.Oeuvre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Oeuvre</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code_Oeuvre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code_Oeuvre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titre_Oeuvre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titre_Oeuvre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sous_Titre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sous_Titre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tonalité)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tonalité)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type_Morceaux.Libellé_Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type_Morceaux.Libellé_Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Année)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Année)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numéro_Opus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numéro_Opus)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
