﻿<!--Index des Oeuvres-->
@model IEnumerable<PorjetBalouMagou.Oeuvre>

@{
    ViewBag.Title = "Oeuvres";
}
<h2>Oeuvre de @ViewBag.nomMusicien.Prénom_Musicien @ViewBag.nomMusicien.Nom_Musicien</h2>

<img src="@Url.Action("Photo", "Oeuvre", new { id = @ViewBag.nomMusicien.Code_Musicien })" width="100" height="100" />
<table>
    <tr>
        <th>
            Intitulé de l'oeuvre
        </th>
        <th>
            Sous-titre
        </th>
        <th>
            Tonalité
        </th>
        <th>
            Libellé
        </th>
        <th>
            Année d'écriture
        </th>
        <th>
            Opus
        </th>
        <th>
            Numéro de l'Opus
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre_Oeuvre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sous_Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tonalité)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_Morceaux.Libellé_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Année)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numéro_Opus)
        </td>
    </tr>
}

</table>
